/* Main page when user opens webpage */
.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}

/* Container for group github */
.groupInfo {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Github logo */
.groupInfo img {
  position: relative;
  background-color: lightgray;
  border-radius: 50%;
  bottom: 0;
  transform: scale(.40) translate(50%, 50%);
}

/* h1 page title */
#formTitle {
  font-size: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  position: relative;
  font-family: cursive;
}

/* Add animation to the h1 title */
#formTitle span {
  display: inline-block;
  transform-origin: center bottom;
  animation: curveText 5s ease-in-out infinite alternate;
}

@keyframes curveText {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

/* The area of the form */
.userForm {
position: relative;
width: 500px;
margin-bottom: 20px;
border: 8px solid #73AD21;
border-radius: 30px;
padding: 20px;
margin: 20px auto;
text-align: center;
background-color: #edffef;
}

/* The bar where the login and signup tabs are */
.tabs {
display: flex;
width: 100%;
justify-content: center;
overflow: hidden;
border: 1px solid #ccc;
border-radius: 30px;
background-color: #f1f1f1;
}

/* The actual tab buttons */
.tabs button {
background-color: rgb(129, 242, 129);
text-align: center;
width: 100%;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* When hovering over a tab button */
.tabs button:hover {
background-color: #44ea35;
}

/* When the tab button is clicked */
.tabs button.active {
background-color: #20bf20;
}

/* The area that appears under the tabs */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid #60ff72;
border-radius: 30px;
border-top: none;
} 

/* Changes the outline of the textbox */
.userForm #Login #loginName,
.userForm #Login #loginPassword,
.userForm #Signup #firstName,
.userForm #Signup #lastName,
.userForm #Signup #signupName,
.userForm #Signup #signupPassword {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #73AD21;
    border-radius: 30px;
    margin: 10px 0;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
/* When a textbox is selected, change outline */
.userForm #Login #loginName:focus,
.userForm #Login #loginPassword:focus,
.userForm #Signup #firstName:focus,
.userForm #Signup #lastName:focus,
.userForm #Signup #signupName:focus,
.userForm #Signup #signupPassword:focus {
    border-color: #4ae14f;
    outline: none;
}

/* Give some space around the login and signup button */
.userForm #Login #login-button-container,
.userForm #Signup #signup-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

/* Visual effects to the login and signup button */
.userForm #Login #login-button,
.userForm #Signup #signup-button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #4ae14f;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* When user hovers over a button */
.userForm #Login #login-button:hover,
.userForm #Signup #signup-button:hover {
  background-color: #38aa3c;
  transform: scale(1.05);
}

/* When the button is clicked */
.userForm #Login #login-button:active,
.userForm #Signup #signup-button:active {
  background-color: #28792b;
  transform: scale(1);
}

/* Allign and resize password criteria */
.userForm #Signup #passwordList {
  text-align: left;
  font-size: 80%;
}

 /* Password tooltip container */
 .tooltip {
  position: relative;
  width: 100%;
  display: inline-block;
}

/* Tooltip box text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -25%;

  opacity: 0;
  transition: opacity 0.3s;
}

/* The arrow that appears on the edge of the tooltip box */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* Keep the tooltip box in focus while the password box is active */
.tooltip input:focus + .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.contactPage {
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #ff7e5f, #feb47b);
}
  
/* Heading Container for Main Page*/
.navigation {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: #cccccc;
    padding-left: 15px;
    padding-right: 15px;
}

/* Logout Button */
#logoutButton{
    border: none;
    background-color: #cccccc;
    font-size: 20px;  
    margin: 4px 2px;
    text-align: center;
}
#logoutButton:hover{
    color: blue;
}

/* Search Bar */
.searchBar{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    text-align:left;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 500px;
    border: 2px solid #73AD21;
}

/* The Part of the search bar with input */
#search{
    width: 450px;
    border-radius: 25px;
    padding: 8px;
    border: none;
    font-size: 20px;
}
#search:focus{
    outline-width: 0px;
}

/* Submit button for search */
#searchSubmit{
    font-size: 23px;
    border: 1;
    border-radius: 50px;
    background-color: #bdff60;               
}
#searchSubmit:hover{
    color:blue;
}

/* Contacts heading and add contact button spacing */
.addForm{
    margin-top: 60px;  
    display: flex;
    justify-content: space-between;
}

/* Add Contact Button */
#addContact{
    margin: 20px 2px;
    font-size: 15px;
    border: 1;
    border-radius: 50px;
    background-color: #bdff60; 
}
#addContact:hover{
    color: blue;
    background-color: #9cd34f; 
}

/* Popup window for adding contacts */
.addContactPopup {
    display: none;
    bottom: 20%;
    right: 15px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;     
}
.popupBox {
    max-width: 300px;
    padding: 10px;
    border: 1px #73AD21;
    background-color: gray;
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;    
    border-radius: 25px;      
}

/* Add contact information fields */
.popupBox input[type="text"]{
    font-size: 20px;
    margin: 8px;              
}

/* "Add Contact" and "Cancel" buttons */
.formButton{
    font-size: 20px;
    margin: 8px;
}

/* Contact Table */
#contactTable{
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 80%;
    max-width: 1200px;
    border-collapse: collapse;
    overflow-x: auto;
    table-layout: fixed;
    background-color: #ff7247;
}

#contactTable th{
  background-color: #20bf20;
  font-weight: bold;
}

/* Edit and delete buttons in contact table */
.contactActions{
    border: none;
    background-color: transparent;
    font-size: 20px;  
    cursor: pointer;
}

/* Edit/Delete buttons when hovering over */
.contactActions:hover{
    color:blue;
}

/* When hovering over a row */
#contactTable tr:hover {
  background-color: rgb(129, 242, 129);
}

/* Set column specific widths based on assumed size */
/* First Name Column */
#contactTable th:nth-child(1), #contactTable td:nth-child(1) { 
  width: 18%;
}
/* Last Name Column */
#contactTable th:nth-child(2), #contactTable td:nth-child(2) { 
  width: 18%;
}
/* Phone Number Column */
#contactTable th:nth-child(3), #contactTable td:nth-child(3) { 
  width: 18%;
}
/* Email Column */
#contactTable th:nth-child(4), #contactTable td:nth-child(4) { 
  width: 32%;
}
/* Edit Column */
#contactTable th:nth-child(5), #contactTable td:nth-child(5) { 
  width: 7%;
}
/* Delete Column */
#contactTable th:nth-child(6), #contactTable td:nth-child(6) { 
  width: 7%;
}